---
// 基础 样式
import "./Footer.less";
---

<footer class="vh-footer">
	<main>
		<p></p>
		<p><a href="/sitemap-index.xml" target="_blank"><img alt="sitemap" src="/assets/images/footer/sitemap.svg" /></a><a href="/rss.xml" target="_blank"><img alt="rss" src="/assets/images/footer/rss.svg" /></a></p>
	</main>
</footer>
