astro
深色版本
---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SEO } from "astro-seo"; // 导入 SEO 组件
import CusdisComment from "../components/CusdisComment.astro"; // 导入 Cusdis 组件

import { formatDate } from "../utils";
import { SITE_LANG} from "../consts";
const { frontmatter } = Astro.props;
const type = frontmatter.tags[0];
const { pubDate, title, seo_title, description, featured } = frontmatter;
const dateFormated = formatDate(pubDate);
const pageUrl = new URL(Astro.url).href; // 获取当前页面的完整URL
const ogImageUrl = frontmatter.cover?.url || "";
const postDate = new Date(pubDate);
const currentDate = new Date();
const timeDifferenceInDays = (currentDate.getTime() - postDate.getTime()) / (1000 * 3600 * 24); // 时间差以天为单位
const expirationDays = 180; // 设置过期时间为180天
const isExpired = timeDifferenceInDays > expirationDays;
---

<html lang={SITE_LANG} dir="ltr" class="js no-touch progressive-image no-reduced-motion progressive">
  <head>
    <BaseHead frontmatter={frontmatter}/>
    <SEO
      title={seo_title || title}
      titleTemplate="%s | 我的博客"
      description={description}
      canonical={pageUrl}
      openGraph={{
        basic: {
          title: seo_title || title,
          type: "article",
          image: ogImageUrl,
          url: pageUrl,
        },
        optional: {
          siteName: "我的博客",
          locale: "zh_CN",
          authors: ["星影"],
          tags: frontmatter.tags,
        }
      }}
      twitter={{
        card: "summary_large_image",
        site: "@mysite",
        creator: "@XingYing_star", // 使用您的推特账号
        title: seo_title || title,
        image: ogImageUrl,
        description: description,
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          { name: "twitter:image:alt", content: "我的博客的Open Graph图片" },
          { name: "keywords", content: frontmatter.tags.join(", ") },
        ],
      }}
    />
   </head>
  <body class:list={["page-article", { "theme-dark": frontmatter.theme === "dark" }]}>
    <Header />
    <main id="main" class="main">
      <!-- 文章内容 -->
      <slot />

      <!-- 添加 Cusdis 评论区 -->
      </main>
    <Footer />
  </body>
</html>